.feed-text-box{
  display: flex;
  margin-bottom: 16px;
  background-color: var(--bg-default-white);
}
.feed-text-box h4 {
  margin-top: .155rem;
  margin-bottom: .155rem;
  font-size: 16px;
  font-weight: bold;
}
.feed-text-box p {
  margin: 0;
  font-size: 16px;
}
.feed-text-box p span{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color:#da448d;
  font-weight: 300;
  letter-spacing: 1.2px;
}
.feed-text-box a {
  text-decoration: underline;
}
.avatar{
height: 40px;
width: 40px;
border-radius: 5px;
margin-right: 16px;
}

.text-content-box div{
  /* border: 2px solid green; */
  margin-top: 18px;
}
br {
  display: block;
  margin: 18px 0;
  content: " ";
  line-height:18px;
}
